@import "tailwindcss";

@font-face {
    font-family: Poppins;
    src: url(../src/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../src/assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-MediumItalic;
    src: url(../src/assets/fonts/Poppins-MediumItalic.ttf);
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(../src/assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins-SemiBoldItalic;
    src: url(../src/assets/fonts/Poppins-SemiBoldItalic.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(../src/assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Black;
    src: url(../src/assets/fonts/Poppins-Black.ttf);
}

@font-face {
    font-family: Poppins-BlackItalic;
    src: url(../src/assets/fonts/Poppins-BlackItalic.ttf);
}

@font-face {
    font-family: Poppins-ExtraBold;
    src: url(../src/assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: Poppins-ExtraBoldItalic;
    src: url(../src/assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

@theme  {
    --font-poppins: Poppins;
    --font-med: Poppins-Medium;
    --font-meditalic: Poppins-MediumItalic
    --font-semibold: Poppins-SemiBold;
    --font-semibold: Poppins-SemiBoldItalic;
    --font-bold: Poppins-Bold;
    --font-extrabold: Poppins-ExtraBold;
    --font-extrabolditalic: Poppins-ExtraBoldItalic;
    --font-black: Poppins-Black;
    --font-blackitalic: Poppins-BlackItalic;
}