@import "tailwindcss";

@font-face {
    font-family: Poppins;
    src: url(../src/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../src/assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-ExtraBoldItalic;
    src: url(../src/assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

/* COMMENT RANI */

@theme  {
    --font-poppins: Poppins;
    --font-med: Poppins-Medium;
    --font-extrabolditalic: Poppins-ExtraBoldItalic;
}