@import "tailwindcss";

@font-face {
    font-family: Poppins;
    src: url(../src/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../src/assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../src/assets/fonts/Poppins-ExtraBoldItalic.ttf);
}


@theme 